html{
    overflow:hidden;
}
body{
    background-color: #c495d891;
    display:flex;
    flex-direction:column;
}
header{
    display:flex;
    justify-content:center;
}
#capoteMini{
    width:5%;
}
section{
    display:flex;
    flex-direction:column;
}
#boutonPrincipal{
    width:50%;
}

.capote {
    position: fixed;
    animation-duration: 20s;
    animation-name: slidedown;
    animation-fill-mode: forwards;
    height: 100px;
    width: 100px;
    top: 0;
}

@keyframes slidedown {
    to {
      top: 120%;
    }
}