html{
    overflow:hidden;
}
body{
    background-color: #c495d891;
    display:flex;
    flex-direction:column;
}
header{
    display:flex;
    justify-content:center;
}
#capoteMini{
    width:10%;
}
section{
    display:flex
    flex-direction:column;
}
#boutonPrincipal{
    width:50%;
}