#principal{
    text-align : center;
}

#menu{
    text-align : center;
    border-collapse: collapse;
}


#item1, #item3, #item5, #item7{
    background-color : lightpink;
}

#item2, #item4, #item6{
    background-color : lightgrey;
}

#principal, #conteneur-menu{
    float : left;
}
body{
    background-color:plum;
    display:flex;
    flex-direction:column;
}
header{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Century Gothic;
    font-size:200%;
}
#capoteMini{
    margin-top:1%;
    width:5%;
    height:5%;
}
#condomRain{
    z-index: 99;
}
section{
    display:flex;
    flex-direction:column;
}
.icone{
    width: 100%;
    height: 100%;

}
button{
    background:none;
    border:none;
}
#boutonPrincipal{
    width:30%;
    z-index: 500;
    position: absolute;
}
.iconeImage{
    width:100px;
    height: 100px;
}
td{
    padding-left: 10px;
    padding-right: 10px;
}
table {
    border-radius: 9%;
    background-color: lightblue;
    margin-left: 5%;
    margin-bottom : 5%;
    z-index: 150;
    position: absolute;
}

.capote {
    position: fixed;
    animation-duration: 20s;
    animation-name: slidedown;
    animation-fill-mode: forwards;
    height: 100px;
    width: 100px;
    top: 0;
}

#bg-popup{
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    background-color:#222222aa;
    left:0;
    bottom:0;
}

#popup{
    position:absolute;
    top:20px;
    right:35%;
    width:30%;
    height:30%;
    padding:50px;
    background-color:lightblue;
    border: 1px solid black;
    border-radius:50px;
    box-shadow: 2px 1px 15px black;
    z-index: 105;
}

.rep{
    margin-left:25%;
}

#submit{
    background-color:rgb(77, 158, 185);
    border-radius:7px;
    border:0;
    margin-left:75%;
    margin-top:40%;
    width:25%;
    height:15%;
}

@keyframes slidedown {
    to {
      top: 120%;
    }
}