#principal{
    text-align : center;
}

#menu{
    text-align : center;
    border-collapse: collapse;
}


#item1, #item3, #item5, #item7{
    background-color : lightpink;
}

#item2, #item4, #item6{
    background-color : lightgrey;
}

#principal, #conteneur-menu{
    float : left;
}
body{
    background-color:plum;
    display:flex;
    flex-direction:column;
}
header{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Century Gothic;
    font-size:200%;
}
#capoteMini{
    margin-top:1%;
    width:5%;
    height:5%;
}
#condomRain{
    z-index: 99;
}
section{
    display:flex;
    flex-direction:column;
}
.icone{
    width: 100%;
    height: 100%;

}
button{
    background:none;
    border:none;
}
#boutonPrincipal{
    width:30%;
    z-index: 1001;
    position: absolute;
}
.iconeImage{
    width:100px;
    height: 100px;
}
td{
    padding-left: 10px;
    padding-right: 10px;
}
table {
    border-radius: 9%;
    background-color: lightblue;
    margin-left: 5%;
    margin-bottom : 5%;
    z-index: 1002;
    position: absolute;
}

.capote {
    position: fixed;
    animation-duration: 20s;
    animation-name: slidedown;
    animation-fill-mode: forwards;
    height: 100px;
    width: 100px;
    top: 0;
}

@keyframes slidedown {
    to {
      top: 120%;
    }
}